/**********************************************

 *	Filename:	style.css
 *	Author:		Cristian Patrasciuc
 *	Email:		cristian.patrasciuc@gmail.com
 
 Copyright © 2010, 2011 Tolga Hosgor, Cristian Patrasciuc
 
 This file is part of FeedFlow.

 FeedFlow is free project: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 FeedFlow is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with FeedFlow.  If not, see <http://www.gnu.org/licenses/>.
 
 **********************************************/

body {color:#B4B4B4;}

#mainTL {background:url("TL.png") no-repeat;}
#mainT {background:url("T.png") repeat-x;}
#mainTR {background:url("TR.png") no-repeat;}

#mainL {background:url("L.png") repeat-y;}
#mainR {background:url("R.png") repeat-y;}

#mainBL {background:url("BL.png") no-repeat;}
#mainB {background:url("B.png") repeat-x;}
#mainBR {background:url("BR.png") no-repeat;}

#feedTitle {background-color:#392828;}
#feedTitle a {color:#FFFFFF;}

#navigation {background-color:#342120;}

#mainContainer {background-color:#2c160f;}

#mainContainer a, 
#mainContainer a:visited, 
#mainContainer a:link
{color:#FFCC66;}

#leftarrow {background-image:url('la.png');}
#rightarrow {background-image:url('ra.png');}

#message p {color:#FFCC66;}

.feedItem {border-bottom:1px #56453f solid;}
