/**********************************************

 *	Filename:	style.css
 *	Author:		Cristian Patrasciuc
 *	Email:		cristian.patrasciuc@gmail.com
 *	Date:		08-July-2007
 
 Copyright © 2010 Tolga Hosgor, Cristian Patrasciuc
 
 This file is part of FeedFlow.

 FeedFlow is free project: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 FeedFlow is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with FeedFlow.  If not, see <http://www.gnu.org/licenses/>.
 
 **********************************************/

body {
	color: #787878;
	background-image: url('background.png');
}

#feedTitle a { color: #FFFFFF; }

.feedItemDocked a, 
.feedItemDocked a:visited, 
.feedItemDocked a:link,
.feedItemUndocked a,
.feedItemUndocked a:visited,
.feedItemUndocked a:link
{ color: #9E1B34; }

#leftarrow { background-image: url('leftarrow.png'); }
#rightarrow { background-image: url('rightarrow.png'); }

#message { background-image: url('message.png'); background-color: #FFFFFF; }
#message p { color: #9E1B34; }
