/**********************************************

 *	Filename:	settings.css
 *	Authors:	Tolga Hosgor, Cristian Patrasciuc
 *	Emails:		fasdfasdas@gmail.com, cristian.patrasciuc@gmail.com
 
 Copyright © 2010, 2011 Tolga Hosgor, Cristian Patrasciuc
 
 This file is part of FeedFlow.

 FeedFlow is free project: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 FeedFlow is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with FeedFlow.  If not, see <http://www.gnu.org/licenses/>.
 
 **********************************************/

body {
	width:380px;
    height:350px;
}

label, table, td, tr, strong, input, select, button {
	font-family:Tahoma;
	font-size:11px;
	vertical-align:middle;
}

div#checkVersionInfo {
	font-family:Tahoma;
	font-size:9px;
	vertical-align:middle;
	position:absolute;
	top:0;
	left:10px;
}

a {
	color:#0000FF;
	text-decoration:none;
}

a:hover {text-decoration:underline;}

hr {margin-top:30px;}

input, select {width:200px;}

#preview {
	border:solid 1px;
	height:120px;
	text-align:center;
}

#preview img { 
	margin-left:auto; 
	margin-top:10px; 
}

#errorMessage {
	color:#FF0000;
	margin-left:5px;
}

div#checkVersionInfo img {
	margin-right:4px;
}

div#checkVersionInfo span {
	vertical-align:3px;
}