/**********************************************

 *	Filename:	style.css
 *	Author:		Cristian Patrasciuc
 *	Email:		cristian.patrasciuc@gmail.com
 *	Date:		08-July-2007
 
 Copyright © 2010 Tolga Hosgor, Cristian Patrasciuc
 
 This file is part of FeedFlow.

 FeedFlow is free project: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 FeedFlow is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with FeedFlow.  If not, see <http://www.gnu.org/licenses/>.
 
 **********************************************/

body {color:#B4B4B4;}

#feedTitle {background:url('bgU.png') no-repeat;}
#feedTitle a {color:#FF9900;}

#navigation {background:url('bgD.png') no-repeat;}

#mainContainer {background:url("bg.png") repeat-y;}

#mainContainer a, 
#mainContainer a:visited, 
#mainContainer a:link
{color:#FFFFFF;}

#leftarrow {background-image:url('la.png');}
#rightarrow {background-image:url('ra.png');}

#message p {color:#FF9900;}

.feedItem {border-bottom:1px #474c5a solid;}
